<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Connection" type="System.Configuration.NameValueSectionHandler" />
		<section name="Users" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\Laci\Desktop\User_Perm_Comp.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<Connection>
		<add key="AzureConnection" value="https://azureserver/tfs/collection" />
	</Connection>
	<Users>
		<add key="First" value="user account name" />
		<add key="Second" value="user account name" />
	</Users>
</configuration>